/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

nav ul li{
  margin: 16px 0px;
}


.about-e p{
  margin-top: 20px;
  font-size: medium;
  padding-left: 10px;
}

.agents p{
  padding-top: 10px;
  padding-bottom: 5px;
}

.agents img{
  height: 100%;
  width: 100%;
}

.banner img{
  height: 100%;
  width: 100%;
}

.download img{
  height: 100%;
  width: 100%;
}

.qr img{
  width: 100%;
  height: 100%;
}

.footer h2{
  font-size: larger;
  text-decoration: underline;
  padding-top: 10px;
  padding-bottom: 5px;
}

.footer input{
  display: block;
  padding: 10px;
  padding-right: 200px;
  margin-top: 20px;
  border-radius: 5px;
}

.footer li{
  margin-top: 10px;
}